<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="org.testng.reporters.XMLReporter" />
        <listener class-name="org.testng.reporters.EmailableReporter" />
        <listener class-name="org.testng.reporters.TestHTMLReporter" />
        <listener class-name="org.example.ConsoleOutputCapturingListener" />
    </listeners>
    <test verbose="2" preserve-order="true" name="/Users/sonal.p/Documents/cloned_repo/seleniumsocker/src/main/java/org/example/RoposoTest.java">
        <classes>
            <class name="org.example.WebTest">
                <methods>
                    <include name="testWebPageTitle"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>